@page
@model azure_app_visualstudio_mb.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deploymnent Slot page";
}

<div class="text-center">
    <h1 class="display-4">Testing Deployment Slots</h1>
    <h3>
        @ViewData["Greeting"]
    </h3>
    <p>Validating the deployment slot feature. Deployed</p>

</div>
